.card {
  width: 2.5in;
  height: 3.5in;
  border: solid 2mm black;
  display: inline-block;
  position: relative;
  border-radius: 1mm;
  font-family: fantasy;
  font-weight: bolder;
  z-index: -2;
  margin-bottom: 2rem;
}

.card-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  left: 0;
  z-index:-1;
}

.abilities {
  height: 70%;
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.card-title{
  padding-left: 1mm;
  padding-right: 1mm;
  height: 30%;
  width: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: white;
  font-size: 7mm;
  line-height: 9mm;
}

.special-card-labels {
  padding-left: 1mm;
  padding-right: 1mm;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
  height: 30%;
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.special-card-title {
  color: #F7C746;
  font-size: 7mm;
  line-height: 9mm;
}

.special-card-description {
  color: white;
}

.ability-icon {
  height: 10mm;
  width: 10mm;
  display: inline-block;
  margin: 0.5rem;
  font-weight: bold;
}

.card-amount {
  display: block;
  position: relative;
  top: -2rem;
  text-align: right;
  padding-right: 1rem;
  width: 100%;
}
